doctype html

html(lang = "ru")
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width,initial-scale=1")
        meta(name = "description", content = "Kenwood, Сравнение товаров")

        title Kenwood, Сравнение товаров

        link(type = "text/css", rel = "stylesheet", href = "css/normalize.css")
        link(type = "text/css", rel = "stylesheet", href = "css/styles.min.css")

        link(rel="stylesheet" type="text/css" href="jquery/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="jquery/slick/slick-theme.css")

        link(rel="preload" href="fonts/Merriweather-Regular.woff2" as="font")
        link(rel="preload" href="fonts/Montserrat-Regular.woff2" as="font")
        link(rel="preload" href="fonts/Montserrat-SemiBold.woff2" as="font")

    body
        header(class="page-header")
        main(class="page-content")
            div(class="page-content__header")
                div(class="page-content__top-wrapper")
                    ul(class="page-content__breadcrumbs")
                        li(class="page-content__breadcrumbs-item")
                            a(class="page-content__breadcrumbs-link" href="#") Главная
                        li(class="page-content__breadcrumbs-item")
                            p(class="page-content__breadcrumbs-link page-content__breadcrumbs-link--current") Сравнение товаров
                    h1(class="page-content__heading") Сравнение товаров
                    ul(class="page-content__sorting-list")
                        li(class="page-content__sorting-item")
                            a(class="page-content__sorting-filter page-content__sorting-filter--current page-content__sorting-filter--all" href="#") Все (#[span(class="page-content__count page-content__count--all") 6])
                        li(class="page-content__sorting-item")
                            a(class="page-content__sorting-filter page-content__sorting-filter--kitchen" href="#") Кухонные машины (#[span(class="page-content__count page-content__count--kitchen") 6])
            section(class="page-content__info info")
                ul(class="info__items-list")
                    li(class="info__item info__item--current item")
                        div(class="item__top-wrapper")
                            img(class="item__image" src="img/kvc5100.png")
                            h2(class="item__heading") Chef Sense Kitchen Machine KVC5100B White & Blue
                            h3(class="item__price") 21000 ₽
                        div(class="item__bottom-wrapper")
                            button(class="item__cart") В корзину
                            a(class="item__link" href="#") Купить в 1 клик
                    li(class="info__item item")
                        div(class="item__top-wrapper")
                            img(class="item__image" src="img/kvc5300.png")
                            h2(class="item__heading") Chef Elite Kitchen Machine KVC5300S Silver
                            h3(class="item__price") 19000 ₽
                        div(class="item__bottom-wrapper")
                            button(class="item__cart") В корзину
                            a(class="item__link" href="#") Купить в 1 клик
                    li(class="info__item item")
                        div(class="item__top-wrapper")
                            img(class="item__image" src="img/kvc3100.png")
                            h2(class="item__heading") Chef Kitchen Machine KVC3100W White
                            h3(class="item__price") 23000 ₽
                        div(class="item__bottom-wrapper")
                            button(class="item__cart") В корзину
                            a(class="item__link" href="#") Купить в 1 клик
                    li(class="info__item item")
                        div(class="item__top-wrapper")
                            img(class="item__image" src="img/kvc7300s.png")
                            h2(class="item__heading") Chef Titanium Kitchen Machine KVC7300S Silver
                            h3(class="item__price") 25500 ₽
                        div(class="item__bottom-wrapper")
                            button(class="item__cart") В корзину
                            a(class="item__link" href="#") Купить в 1 клик
                div(class="info__slider")
                div(class="info__differences")
                    label(class="info__differences-about" for="differences") #[input(class="visually-hidden" type="checkbox" id="differences")] #[span(class="info__checkbox info__checkbox--differences")] Показывать только различия
            section(class="page-content__spec spec")
                div(class="spec__wrapper spec__wrapper--general spec__wrapper--open")
                    h3(class="spec__heading") Общие характеристики
                    ul(class="spec__content")
                        - for (var x = 0; x < 4; x++)
                            li(class="spec__column")
                                ul(class="spec__list")
                                    li(class="spec__item")
                                        p(class="spec__content") Материал корпуса:
                                        p(class="spec__value") Металл
                                    li(class="spec__item")
                                        p(class="spec__content") Материал чаши:
                                        p(class="spec__value") Нержавеющая чаша
                                    li(class="spec__item")
                                        p(class="spec__content") Прорезиненные ножки:
                                        p(class="spec__value") Нет
                                    li(class="spec__item")
                                        p(class="spec__content") Цвет:
                                        p(class="spec__value") Серый
                                    li(class="spec__item")
                                        p(class="spec__content") Гарантия:
                                        p(class="spec__value") Есть
                                    li(class="spec__item")
                                        p(class="spec__content") Мощность:
                                        p(class="spec__value") 1000 Вт
                div(class="spec__wrapper spec__wrapper--bowl")
                    h3(class="spec__heading") Характеристики чаши
                    ul(class="spec__content")
                        - for (var x = 0; x < 4; x++)
                            li(class="spec__column")
                                ul(class="spec__list")
                                    li(class="spec__item")
                                        p(class="spec__content") Материал корпуса:
                                        p(class="spec__value") Металл
                                    li(class="spec__item")
                                        p(class="spec__content") Материал чаши:
                                        p(class="spec__value") Нержавеющая чаша
                                    li(class="spec__item")
                                        p(class="spec__content") Прорезиненные ножки:
                                        p(class="spec__value") Нет
                                    li(class="spec__item")
                                        p(class="spec__content") Цвет:
                                        p(class="spec__value") Серый
                                    li(class="spec__item")
                                        p(class="spec__content") Гарантия:
                                        p(class="spec__value") Есть
                                    li(class="spec__item")
                                        p(class="spec__content") Мощность:
                                        p(class="spec__value") 1000 Вт
                div(class="spec__wrapper spec__wrapper--options")
                    h3(class="spec__heading") Комплектация
                    ul(class="spec__content")
                        - for (var x = 0; x < 4; x++)
                            li(class="spec__column")
                                ul(class="spec__list")
                                    li(class="spec__item")
                                        p(class="spec__content") Материал корпуса:
                                        p(class="spec__value") Металл
                                    li(class="spec__item")
                                        p(class="spec__content") Материал чаши:
                                        p(class="spec__value") Нержавеющая чаша
                                    li(class="spec__item")
                                        p(class="spec__content") Прорезиненные ножки:
                                        p(class="spec__value") Нет
                                    li(class="spec__item")
                                        p(class="spec__content") Цвет:
                                        p(class="spec__value") Серый
                                    li(class="spec__item")
                                        p(class="spec__content") Гарантия:
                                        p(class="spec__value") Есть
                                    li(class="spec__item")
                                        p(class="spec__content") Мощность:
                                        p(class="spec__value") 1000 Вт
            div(class="page-content__bottom-wrapper")
                button(class="page-content__delete") Удалить список
            section(class="page-content__subscribe subscribe")
                h3(class="subscribe__heading") Подпишитесь! Новинки, скидки, предложения!
                form(class="subscribe__form" action="")
                    div(class="subscribe__wrapper")
                        input(class="subscribe__email" type="email" placeholder="Введите свой email" required)
                        button(class="subscribe__button" type="submit") Подписаться
        footer(class="page-footer")
    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="jquery/slick/slick.min.js")
    script(type="text/javascript" src="jquery/slider-controls.js")
    script(type="text/javascript" src="js/script.js")
