@font-face {
  font-family: "Merriweather Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  display: none;
}
body {
  min-width: 320px;
}
.page-header {
  min-height: 60px;
}
@media (min-width: 800px) {
  .page-header {
    min-height: 150px;
  }
}
.page-content {
  padding-bottom: 20px;
}
.page-content__breadcrumbs {
  display: none;
}
.page-content__header {
  padding: 32px 0 15px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.page-content__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 24px;
  font-weight: 400;
  color: #555;
  text-align: center;
}
.page-content__sorting-list {
  padding: 0;
  padding-left: 6%;
  margin: 0;
  display: flex;
  list-style: none;
}
.page-content__sorting-item {
  margin-right: 6%;
}
.page-content__sorting-item:last-child {
  margin-right: 0;
}
.page-content__sorting-filter {
  padding: 0;
  margin: 0;
  font-family: "Montserrat SemiBold", serif, Arial;
  font-size: 13px;
  font-weight: 400;
  color: #555;
  text-decoration: none;
}
.page-content__sorting-filter--current {
  font-family: "Montserrat Bold", serif, Arial;
  color: #0a0a0a;
}
.page-content__delete {
  width: 62%;
  min-height: 40px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Montserrat SemiBold", serif, Arial;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #7c2582;
  background-color: transparent;
  display: block;
  border: 1px solid #7c2582;
  border-radius: 20px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .page-content__header {
    padding: 17px 0 15px;
  }
  .page-content__breadcrumbs {
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
    list-style: none;
  }
  .page-content__breadcrumbs-item {
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
  }
  .page-content__breadcrumbs-item::before {
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #0a0a0a;
  }
  .page-content__breadcrumbs-item:last-child::before {
    display: none;
  }
  .page-content__sorting-list {
    padding-left: 0;
  }
  .page-content__breadcrumbs-link {
    font-family: "Montserrat Regular", serif, Arial;
    font-size: 13px;
    font-weight: 600;
    color: #0a0a0a;
    text-decoration: none;
  }
  .page-content__breadcrumbs-link--current {
    padding: 0;
    margin: 0;
    color: #555;
  }
  .page-content__top-wrapper {
    width: 100%;
    max-width: 1170px;
    padding: 0 2%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .page-content__heading {
    margin-bottom: 47px;
    font-size: 34px;
    text-align: left;
  }
  .page-content__sorting-filter {
    font-size: 15px;
  }
  .page-content__delete {
    width: 220px;
    margin: 0;
    margin-bottom: 67px;
    font-size: 15px;
  }
  .page-content__bottom-wrapper {
    width: 100%;
    max-width: 1170px;
    padding: 0 2%;
    padding-top: 12px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .page-content__sorting-item {
    margin-right: 56px;
  }
  .page-content__top-wrapper {
    padding: 0;
  }
  .page-content__bottom-wrapper {
    padding: 0;
    padding-top: 12px;
  }
}
.info {
  padding: 20px;
}
.info__items-list {
  padding: 0;
  margin: 0;
  margin-bottom: 74px;
  list-style: none;
}
.info__differences-about {
  font-family: "Montserrat Regular", serif, Arial;
  font-size: 15px;
  color: #555;
  display: flex;
}
.info__slider {
  display: none;
}
.info__checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
}
#differences:checked ~ .info__checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: -1px;
  left: -1px;
  background-image: url("../img/icons/check.svg");
  background-size: cover;
}
@media (min-width: 800px) {
  .info {
    width: 100%;
    max-width: 1170px;
    padding: 0 2%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .info__wrapper {
    padding-top: 70px;
    margin-bottom: 54px;
    overflow-x: scroll;
  }
  .info__wrapper::-webkit-scrollbar {
    height: 10px;
    background-color: #e4e4e4;
    cursor: pointer;
  }
  .info__wrapper::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 5px;
    background-color: #7c2582;
  }
  .info__items-list {
    width: 150%;
    margin-bottom: 34px;
    display: flex;
  }
  .info__differences-about {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .info {
    padding: 0;
  }
}
.item__top-wrapper {
  width: 80%;
  padding-bottom: 17px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item__bottom-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__image {
  margin-bottom: 27px;
}
.item__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #0a0a0a;
  text-align: center;
}
.item__price {
  padding: 0;
  margin: 0;
  font-family: "Montserrat SemiBold", serif, Arial;
  font-size: 17px;
  font-weight: 400;
  color: #444;
}
.item__cart {
  width: 47%;
  min-height: 35px;
  border: none;
  border-radius: 17.5px;
  background-color: #7c2582;
  font-family: "Montserrat SemiBold", serif, Arial;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.item__link {
  width: 47%;
  font-family: "Montserrat SemiBold", serif, Arial;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #7c2582;
}
@media (min-width: 800px) {
  .item {
    width: 24%;
    margin-right: 1%;
    display: block;
  }
  .item:last-child {
    margin-right: 0;
  }
  .item__image {
    max-width: 100%;
  }
  .item__bottom-wrapper {
    display: none;
  }
  .item__heading {
    font-size: 17px;
    line-height: 24px;
  }
  .item__top-wrapper {
    width: 100%;
  }
  .item__bottom-wrapper {
    width: 100%;
  }
}
.spec {
  margin-bottom: 25px;
}
.spec__wrapper {
  padding: 20px;
  border-top: 1px solid #e4e4e4;
}
.spec__wrapper:last-child {
  border-bottom: 1px solid #e4e4e4;
}
.spec__wrapper--open .spec__list {
  display: block;
}
.spec__wrapper--open {
  padding-bottom: 10px;
}
.spec__wrapper--open .spec__heading {
  margin-bottom: 21px;
}
.spec__wrapper--open .spec__heading::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.spec__content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.spec__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.spec__item {
  padding: 15px 20px;
  border-top: 1px solid #e4e4e4;
}
.spec__heading {
  padding: 0;
  padding-right: 20px;
  margin: 0;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 19px;
  font-weight: 400;
  color: #0a0a0a;
  position: relative;
}
.spec__heading::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/down-arrow.svg");
  background-size: cover;
  position: absolute;
  right: 0;
  top: 1px;
}
.spec__info {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 15px;
  color: #0a0a0a;
}
.spec__value {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 15px;
  color: #555;
}
@media (min-width: 800px) {
  .spec {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .spec__wrapper {
    padding: 24px 0 20px 2%;
    overflow: hidden;
  }
  .spec__wrapper--open .spec__heading {
    margin-bottom: 24px;
  }
  .spec__content {
    width: 150%;
    display: flex;
  }
  .spec__heading {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 32px 0 0;
    font-size: 24px;
    display: block;
    cursor: pointer;
  }
  .spec__heading::after {
    top: 5px;
  }
  .spec__column {
    width: 24%;
    margin-right: 1%;
    display: block;
  }
  .spec__column:last-child {
    margin-right: 0;
  }
  .spec__item:hover {
    padding-top: 14px;
    border-top: 2px solid #477707;
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.06);
  }
}
@media (min-width: 1200px) {
  .spec__wrapper {
    padding: 24px 0 17px;
  }
}
.subscribe {
  width: 87%;
  margin: 0 auto;
}
.subscribe__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Merriweather Regular", sans-serif, "Times New Roman";
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #0a0a0a;
  text-align: center;
}
.subscribe__wrapper {
  width: 100%;
  position: relative;
}
.subscribe__email {
  width: 100%;
  min-height: 40px;
  padding: 0 13px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Montserrat Regular", serif, Arial;
  font-size: 13px;
  font-weight: 400;
  color: #0a0a0a;
}
.subscribe__email:placeholder {
  color: #999;
}
.subscribe__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #7c2582;
  background-image: url("../img/icons/button-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: -15px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999px;
}
@media (min-width: 800px) {
  .subscribe {
    width: 100%;
    max-width: 1170px;
    padding: 0 2%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subscribe__heading {
    margin: 0;
    font-size: 19px;
  }
  .subscribe__form {
    width: 50%;
  }
  .subscribe__wrapper {
    width: 100%;
    display: flex;
  }
  .subscribe__email {
    width: 49%;
    margin-right: 20px;
    flex-grow: 1;
  }
  .subscribe__button {
    width: 49%;
    max-width: 180px;
    border-radius: 20px;
    background-image: none;
    position: relative;
    top: auto;
    right: auto;
    font-family: "Montserrat SemiBold", serif, Arial;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    white-space: normal;
    overflow: auto;
    text-indent: 0;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    padding: 0 60px;
  }
}
.page-footer {
  height: 80px;
  background-color: #e4e4e4;
}
