.page-content__header
  padding 32px 0 15px
  border-top 1px solid #999999
  border-bottom 1px solid #999999

.page-content__heading
  padding 0
  margin 0
  margin-bottom 30px
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 24px
  font-weight 400
  color #555555
  text-align center

.page-content__sorting-list
  padding 0
  padding-left 6%
  margin 0
  display flex
  list-style none

.page-content__sorting-item
  margin-right 6%

  &:last-child
    margin-right 0

.page-content__sorting-filter
  padding 0
  margin 0
  font-family "Montserrat SemiBold", serif, Arial
  font-size 13px
  font-weight 400
  color #555555
  text-decoration none

  &--current
    font-family "Montserrat Bold", serif, Arial
    color #0a0a0a