.spec
  margin-bottom 25px

.spec__wrapper
  padding 20px
  border-top 1px solid $grey

  &:last-child
    border-bottom 1px solid $grey

  &--open .spec__list
    display block

  &--open
    padding-bottom 10px

  &--open .spec__heading
    margin-bottom 21px

  &--open .spec__heading::after
    transform rotate(180deg)

.spec__content
  padding 0
  margin 0
  list-style none

.spec__list
  margin 0
  padding 0
  display none
  list-style none

.spec__item
  padding 15px 20px
  border-top 1px solid $grey

.spec__heading
  padding 0
  padding-right 20px
  margin 0
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 19px
  font-weight 400
  color $black
  position relative

  &::after
    content ""
    width 20px
    height 20px
    background-image url("../img/icons/down-arrow.svg")
    background-size cover
    position absolute
    right 0
    top 1px

.spec__info
  padding 0
  margin 0
  margin-bottom 7px
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 15px
  color $black

.spec__value
  padding 0
  margin 0
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 15px
  color $dark

@media (min-width: $tablet)
  .spec
    width 100%
    max-width 1170px
    margin 0 auto
    margin-bottom 30px
    box-sizing border-box

  .spec__wrapper
    padding 24px 0 20px 2%
    overflow hidden

    &--open .spec__heading
      margin-bottom 24px

  .spec__content
    width 150%
    display flex

  .spec__heading
    width fit-content
    padding 0 32px 0 0
    font-size 24px
    display block
    cursor pointer

    &::after
      top 5px

  .spec__column
    width 24%
    margin-right 1%
    display block

    &:last-child
      margin-right 0

  .spec__item:hover
    padding-top 14px
    border-top 2px solid $green
    box-shadow 0 12px 18px 0 rgba(0, 0, 0, 0.06)

@media (min-width: $desktop)
  .spec__wrapper
    padding 24px 0 17px