.spec
  margin-bottom 25px

.spec__wrapper
  padding 20px
  border-top 1px solid #e4e4e4

  &:last-child
    border-bottom 1px solid #e4e4e4

  &--open .spec__list
    display block

  &--open .spec__heading
    margin-bottom 20px

  &--open .spec__heading::after
    transform rotate(180deg)

.spec__content
  padding 0
  margin 0
  list-style none

.spec__column
  display none

  &:first-child
      display block

.spec__list
  margin 0
  padding 0
  display none
  list-style none

.spec__item
  padding 20px 0
  border-top 1px solid #e4e4e4

.spec__heading
  padding 0
  padding-right 20px
  margin 0
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 19px
  font-weight 400
  color #0a0a0a
  position relative

  &::after
    content ""
    width 20px
    height 20px
    background-image url("../img/icons/down-arrow.svg")
    background-size cover
    position absolute
    right 0
    top 1px

.spec__content
  padding 0
  margin 0
  margin-bottom 10px
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 15px
  color #0a0a0a

.spec__value
  padding 0
  margin 0
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 15px
  color #555555

@media (min-width: $tablet)
  .spec
    width 100%
    max-width 1170px
    margin 0 auto
    margin-bottom 30px
    box-sizing border-box

  .spec__wrapper
    padding 20px 2%

  .spec__content
    display flex
    justify-content space-between

  .spec__column
    width 24%
    display block

  .spec__item:hover
    border-top 1px solid #477707
    box-shadow 0 12px 18px 0 rgba(0, 0, 0, 0.06)

@media (min-width: $desktop)
  .spec__wrapper
    padding 20px 0