.spec__wrapper
  padding 20px
  border-top 1px solid #e4e4e4

  &:last-child
    border-bottom 1px solid #e4e4e4

.spec__list
  margin 0
  padding 0
  list-style none

.spec__item
  border-top 1px solid #e4e4e4

.spec__heading
  padding 0
  margin 0
  margin-bottom 20px
  font-family "Merriweather Regular", sans-serif, "Times New Roman"
  font-size 19px
  font-weight 400
  color #0a0a0a