@font-face
  font-family "Merriweather Regular"
  font-style normal
  font-weight 400
  src url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Montserrat Regular"
  font-style normal
  font-weight 400
  src url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Montserrat SemiBold"
  font-style normal
  font-weight 600
  src url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2")
  font-display swap

@font-face
  font-family "Montserrat Bold"
  font-style normal
  font-weight 400
  src url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2")
  font-display swap

.visually-hidden
  display none

body
  min-width 320px

$tablet = 800px
$desktop = 1200px
$black = #0a0a0a
$dark = #555555
$dark2 = #444444
$grey = #e4e4e4
$grey2 = #c4c4c4
$grey3 = #999999
$purple = #7c2582
$green = #477707
